body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-nav.no-collapse {
  flex-direction: row;
}

.navbar-nav .nav-link {
  margin-left: 1.4rem;
}

button.nav-link {
  background-color:transparent;
  border-width: 0px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link svg {
  font-size: 22px
}

.bg-dark {
  background-color: #f39c12 !important;
}

.card-title {
  font-weight: 500;
  font-size:110%;
}
.card-body {
  padding: .75rem;
}